*{
margin: 0;
padding: 0;
list-style: none;
box-sizing: border-box;
}
body{
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
}
.logoText{
font-size: 36px;
font-weight: 500;

}
.pochta{
display: flex;
align-items: start;
}
.xat{
width: 32px;
height: 32px;
}
.number{
margin-top: 5px;
margin-left: 10px;
}
.number_a{
text-decoration: none;
font-weight: 400;
font-size: 14px;
color: #000000;
}
/* ============================================================= */
.section-1{
background: #F0F0F0;
}
.biznes{
margin-top: 200px;
font-family: 'PT Root UI Web';
font-weight: 700;
font-size: 36px;
color: #000000;
}
.sila{
font-family: 'PT Root UI Web';
font-weight: 400;
font-size: 24px;
color: #000000;
width: 90%;
margin-top: 32px;
}
.chitat{
font-family: 'PT Root UI Web';
font-weight: 700;
font-size: 18px;;
color: #FFFFFF;
background: #EE1B24;
padding: 15px 30px;
border: none;
}
.podrobno{
font-family: 'PT Root UI Web';
font-weight: 700;
font-size: 18px;
color: #161A2B;
padding: 14px 50px;
margin-left: 40px;
}
.read{
margin-top: 40px;
}
.kitob{
margin-top: 100px;
width: 436px;
height: 617px;
margin-bottom: 100px;
}
/* ============================================================= */
.hush{
font-family: 'PT Root UI Web';
font-weight: 500;
font-size: 36px;
color: #FFFFFF;
}
.deloCard{
background: #161A2B;
}
.deloCard-2{
padding-top: 85px;
margin-left: 60px;
padding-bottom: 100px;   
}
.media{
font-family: 'PT Root UI Web';
font-weight: 400;
font-size: 18px;
color: #FFFFFF;
}
.kompaniya{
font-family: 'PT Root UI Web';
font-weight: 500;
font-size: 18px;
color: #FFFFFF;
}
.bino{
position: relative;
right: 24px;
width: 720px;
height: 582px;
}
/* ============================================================= */
.eto{
font-family: 'PT Root UI Web';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 150%;
color: #000000;
margin-top: 80px;
margin-bottom: 40px;
}
/* ============================================================= */
.gpsCard-2{
display: flex;
align-items: center;
}
.novosti{
font-family: 'PT Root UI Web';
font-weight: 700;
font-size: 24px;
color: #000000;
margin-left: 40px;
}
.pro{
font-family: 'PT Root UI Web';
font-weight: 400;
font-size: 24px;
color: #000000;
margin-top: 10px;
text-align: center;
margin-bottom: 100px;
}
.gpsCard{
background: #FFFFFF;
margin-bottom: 50px;
}
.elf{
text-align: end;
}
.five{
width: 360px;
height: 8px;
}
.gpsPhoto{
width: 112px;
height: 112px;
}
#one{
margin-bottom: 65px;
}
/* ============================================================= */
.night{
margin-top: 80px;
margin-bottom: 50px;
font-family: 'PT Root UI Web';
font-weight: 500;
font-size: 36px;
color: #FFFFFF;
}
/* ============================================================= */
.section-2{
background: url(img/Background__image.png);
background-size: cover;
background-repeat: no-repeat;
}
/* ============================================================= */
.free{
display: flex;
justify-content: space-between;
background-color: #FFFFFF;
}
.fevral{
margin-top: 10px;
font-family: 'PT Root UI Web';
font-weight: 400;
font-size: 14px;
color: #000000;
padding-right: 30px;
}
.dataO{
border: none;
outline: none;
border-bottom:1px solid black;
margin: 15px;
}
.potato{
background: #F0F0F0;
}
.tochka{
font-family: 'PT Root UI Web';
font-weight: 400;
font-size: 18px;
color: #000000;
width: 80%;
}
.bigPotato{
margin-left: 20px;
padding-bottom: 20px;
padding-top: 20px;
}
.poluchat{
font-family: 'PT Root UI Web';
font-weight: 700;
font-size: 24px;
color: #FFFFFF;
text-align: center;
padding-bottom: 42px;
padding-top: 90px;
}
.wayGO{
background: #161A2B;
margin-bottom: 150px;
position: relative;
right: 25px;
}
.wayGo-2{
text-align: center;
}
.name{
margin-top: 50px;
width: 80%;  
border: none;
outline: none;
border-bottom: 4px solid #672d2d;  
}
.second{
padding-top: 50px;
padding-bottom: 41px;
display: flex;
align-items:center;
}
.dannie{
font-family: 'PT Root UI Web';
font-weight: 400;
font-size: 16px;
color: #FFFFFF;
margin-top: 15px;
}
.team{
width: 150px;
}
.besplatno{
font-family: 'PT Root UI Web';
font-weight: 700;
font-size: 18px;
color: #FFFFFF;
padding: 20px 60px;
background: #161A2B;
border: 3px solid red;
margin-bottom: 40px;
}
/* ============================================================= */
.orange{
background: #161A2B;
}
/* ============================================================= */
.fall{
font-family: 'PT Root UI Web';
font-weight: 700;
font-size: 24px;
color: #FFFFFF;
}
.bass{
border-left: 2px solid red;
margin-bottom: 100px;
}
.bass-2{
margin-left: 20px;
}
.algoritm{
font-family: 'PT Root UI Web';
font-weight: 400;
font-size: 18px;
color: #FFFFFF;
width:90%;
}
.watch{
border: none;
outline: none;
background: #161A2B;
font-family: 'PT Root UI Web';
font-weight: 400;
font-size: 14px;
color: #FFFFFF;

}
.watch-2{
border: none;
outline: none;
background: #161A2B;
font-family: 'PT Root UI Web';
font-weight: 400;
font-size: 14px;
color: #FFFFFF;
margin-bottom: 80px;
}
/* ============================================================= */
.supra{
margin-bottom: 50px;
}
.mango{
background: #F0F0F0;
}
/* ============================================================= */
.general{
display: flex;
align-items: center;
/* height: 489px; */
}
.general-2{
margin-left: 30px;
}
.anatoliy{
font-family: 'PT Root UI Web';
font-weight: 700;
font-size: 24px;
color: #000000;
}
.kompani{
font-family: 'PT Root UI Web';
font-weight: 400;
font-size: 18px;
color: #000000;
}
.konstantin{
width: 800px;
background-color: #FFFFFF;
margin: auto;
}
.klient{
padding-top: 20px;
font-family: 'PT Root UI Web';
font-weight: 400;
font-size: 24px;
line-height: 150%;
color: #000000;
width: 80%;
margin: auto;
}
.rotex-2{
text-align: end;
}
.page{
margin-left: 250px;
width: 212px;
height: 8px;
margin-top: 100px;
}
.batwing{
margin-bottom: 100px;
}
/* ============================================================= */
.tekin{
font-family: 'PT Root UI Web';
font-weight: 700;
font-size: 24px;
color: #000000;
margin-top: 80px;
margin-bottom: 80px;
}
/* ============================================================= */
.berserk{
    width: 100%;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    margin-bottom: 40px;
}
.zakaz{
margin-top: -50px;
    padding: 10px 40px;
    font-family: 'PT Root UI Web';
font-weight: 700;
font-size: 18px;
color: #000000;
background: #FFFFFF;
}
/* ============================================================= */
.cat{
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}
.dog{
    margin-top: 15px;
    margin-left: 20px;
}
/* ============================================================= */
footer{
    background: #161A2B;
}

/* ============================================================= */
.logoF{
    margin-top: 40px;
    margin-bottom: 30px; 
}
.teleS{
    font-weight: 700;
    margin-left: 20px;
    color: #FFFFFF;
}
.teleA{
    font-family: 'PT Root UI Web';
font-weight: 400;
font-size: 18px;
text-decoration: none;
color: dimgrey ;
}
.mount{
    width: 80%;
}
/* ================Responsive============================================= */
@media (max-width: 575px) {
    .mount{
        margin: 20px;
    }
    .logoPhoto{
        margin-top: 10px;
    }
    .biznes {
        margin-top: 50px;
        font-family: 'PT Root UI Web';
        font-weight: 700;
        font-size: 20px;
        color: #000000;
        text-align: center;
    }
    .sila {
        font-family: 'PT Root UI Web';
        font-weight: 400;
        font-size: 21px;
        color: #000000;
        /* width: 90%; */
        margin-top: 32px;
        text-align: center;
    } 
    .read {
        text-align: center;
        margin-top: 40px;  
    }
    .podrobno{
        margin-top: 20px;
    }
    .kitob{
        width: 80%;
        height: 80%;
        margin-left: 40px;
    }
    .bino {
     width: 100%;
     height: 100%;
     position:  none;
     right: 0px;
    }
    .deloCard-2 {
        padding-top: 50px;
        margin-left: 20px;
        padding-bottom: 100px;
    }
    .hush {
        font-family: 'PT Root UI Web';
        font-weight: 500;
        font-size: 32px;
        color: #FFFFFF;
    }
    .media {
        font-family: 'PT Root UI Web';
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;
    }
    .eto {
        font-family: 'PT Root UI Web';
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        /* line-height: 150%; */
        color: #000000;
        margin-top: 80px;
        margin-bottom: 40px;
    }
    .five {
    width: 262px;
    /* height: 8px; */
}
.night {
    margin-top: 80px;
    margin-bottom: 50px;
    font-family: 'PT Root UI Web';
    font-weight: 500;
    font-size: 27px;
    color: #FFFFFF;
}
.wayGO {
    background: #161A2B;
    margin-bottom: 10px;
    position: relative;
    right: 0;
}
.supra {
    margin-bottom: 50px;
    width: 100%;
}
.bass {
    border-left: 2px solid red;
    margin-bottom: 50px;
}
.russkiy{
    width: 10%;
}
.anatoliy{
    font-size: 13px;
}
.general-2 {
    margin-left: 0px;
}
.kompani {
    font-family: 'PT Root UI Web';
    font-weight: 400;
    font-size: 8px;
    color: #000000;
}
.klient {
    padding-top: 20px;
    font-family: 'PT Root UI Web';
    font-weight: 400;
    font-size: 16px;
    /* line-height: 150%; */
    color: #000000;
    width: 106%;
    /* margin: auto; */
}
.konstantin{
    width: 100%;
}
.accent{
    width: 30%;
}
.page {
    margin-left: 0;
    width: 41%;
    height: 8px;
    margin-top: 0;
}
.tekin {
    font-family: 'PT Root UI Web';
    font-weight: 700;
    font-size: 22px;
    color: #000000;
    margin-top: 80px;
    margin-bottom: 80px;
}
.logoF {
    margin-top: 40px;
    margin-bottom: 30px;
    width: 23%;
}
}
/* ============================================================= */
/* ============================================================= */

/* ============================================================= */

/* ============================================================= */

/* ============================================================= */

/* ============================================================= */

/* ============================================================= */

/* ============================================================= */

/* ============================================================= */

/* ============================================================= */

/* ============================================================= */

/* ============================================================= */

/* ============================================================= */
